zwerge_retrofit==0.1.0
exceptiongroup==1.3.1
nodeenv==1.10.0
qwen-vl-utils==0.0.8
triton==3.1.0
huggingface-hub==0.36.0
numpy==2.2.6
hf-xet==1.2.0
attrs==25.4.0
packaging==25.0
docker-pycreds==0.4.0
opencv-python-headless==4.12.0.88
platformdirs==4.5.1
wheel==0.43.0
gitdb==4.0.12
click==8.3.1
flash-attn==2.7.3
hjson==3.1.0
pandas==2.3.3
sentry-sdk==2.49.0
propcache==0.4.1
typing_extensions==4.15.0
yarl==1.22.0
accelerate==1.1.1
httpcore==1.0.9
msgpack==1.1.2
torch==2.5.1
fsspec==2025.10.0
frozenlist==1.8.0
nvidia-ml-py==13.590.44
gui-actor==0.1.0
av==16.1.0
cfgv==3.5.0
annotated-types==0.7.0
aiohttp==3.13.3
wandb==0.18.3
multidict==6.7.0
ninja==1.13.0
pytz==2025.2
pydantic==2.12.5
urllib3==2.2.1
setproctitle==1.3.7
distlib==0.4.0
pre_commit==4.5.1
idna==3.7
virtualenv==20.36.1
pyarrow==22.0.0
PySocks==1.7.1
pip==25.3
Brotli==1.1.0
mpmath==1.3.0
typing-inspection==0.4.2
anyio==4.12.1
protobuf==5.29.5
sympy==1.13.1
GitPython==3.1.46
setuptools==69.5.1
pillow==12.1.0
identify==2.6.16
datasets==4.5.0
async-timeout==5.0.1
xxhash==3.6.0
psutil==7.2.1
smmap==5.0.2
tzdata==2025.3
regex==2026.1.15
httpx==0.28.1
pydantic_core==2.41.5
networkx==3.3
h11==0.16.0
aiohappyeyeballs==2.6.1
Jinja2==3.1.3
dill==0.4.0
aiosignal==1.4.0
safetensors==0.7.0
gmpy2==2.1.2
python-dateutil==2.9.0.post0
torchaudio==2.5.1
deepspeed==0.16.0
certifi==2024.2.2
filelock==3.20.3
PyYAML==6.0.1
py-cpuinfo==9.0.0
torchvision==0.20.1
MarkupSafe==2.1.5
liger_kernel==0.5.2
zwerge_retrofit==0.1.0
tqdm==4.67.1
charset-normalizer==3.3.2
tokenizers==0.21.4
multiprocess==0.70.18
requests==2.32.5
transformers==4.51.3
six==1.17.0
einops==0.8.1
zwerge_retrofit==0.1.0
